@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color1: #F4F4F4;
    --color2: #038597;    ;
    --color3: #42C0C4;
    --color4: #58595C;


}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--color1);
    display: grid;
    grid-template-rows: 100px 1fr 90px;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    color: var(--color1);
}

header > a {
    width: 363.63px;
    position: relative;
    display: flex;
    align-items: center;
    gap: .75rem;
    user-select: none;
    text-decoration: none;
    color: var(--color1); 
    transition: color .3s ease;
}



.convert-icon{
    position: absolute;
    right: 0;
    color: var(--color3);
    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem;
}

button{
    width: fit-content;
    padding: .35rem 1.5rem;
    border-radius: 15px;
    background-color: var(--color3);
    color: var(--color1);
    border: none;
    transition-duration: .3s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    background-color: var(--color2);
}

.convert-container,
.content-container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.convert-container > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#rss_url,
#numberOfTitles {
    padding: .25rem .5rem;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: .5rem;
}
#preview-text{
    width: 600px;
}

#rss-feed{
    width: 600px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFFFFF;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-container{
    display: flex;
    gap: 5rem;
}


footer{
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 0 2.5rem;
    position: relative;
}

.logo{
    width: 125px;
    transition: transform .3s;
}

.logo:hover{
    transform: scale(1.15);
}

@keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(1.5) rotateZ(180deg);
              transform: scale(1.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  